version: "3.2"

networks:
  {{ ansible-link__network }}:
    external: true

services:
  ansible-link:
    image: python:3.9-slim
    container_name: ansible-link
    command: 
      sh -c "
        apt-get update && apt-get install -y wget unzip ssh-client python3-pip &&
        pip3 install ansible &&
        wget https://github.com/lfkdev/ansible-link/releases/download/v2.1.1/ansible-link-2.1.1.zip &&
        unzip ansible-link-2.1.1.zip &&
        pip3 install -r requirements.txt &&
        pip3 install gunicorn &&
        python3 -m gunicorn --workers 1 --bind 0.0.0.0:5001 wsgi:application
      "
    deploy:
{% if traefik %}
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network={{ ansible-link__network }}"
        - "traefik.http.routers.ansible-link-http.entrypoints=web"
        - "traefik.http.routers.ansible-link-http.middlewares=https-redirect"
        - "traefik.http.routers.ansible-link-http.rule=Host(`{{ ansible-link__domain }}`)"
        - "traefik.http.routers.ansible-link-https.entrypoints=websecure"
        - "traefik.http.routers.ansible-link-https.rule=Host(`{{ ansible-link__domain }}`)"
        - "traefik.http.routers.ansible-link-https.tls=true"
        - "traefik.http.routers.ansible-link-https.tls.certresolver=le"
        - "traefik.http.routers.ansible-link-https.tls.domains[0].main={{ ansible-link__domain }}"
        - "traefik.http.services.ansible-link.loadbalancer.server.port=9000"
        - "traefik.http.routers.ansible-link-https.service=ansible-link"
{% endif %}
      mode: replicated
      placement:
        constraints:
{% if ansible-link__label %}
          - "node.labels.{{ ansible-link__label }} == true"
{% endif %}
          - node.role == manager
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
    image: {{ ansible-link__image }}:{{ ansible-link__version }}
    networks:
      - {{ ansible-link__network }}
    ports:
      - target: 5001
        published: 5001
        protocol: tcp
        mode: host
    volumes:
{% if ansible-link__nfs %}
    volumes:
      - type: volume
        source: ansible-link_data
        target: /etc/ansible
{% else %}
      - {{ ansible-link__data_dir }}:/data
{% endif %}

{% if ansible-link__nfs %}
volumes:
  ansible-link_data:
    driver_opts:
      type: 'nfs'
      o: 'addr={{ ansible-link__nfs_ip }},nfsvers=4,rw'
      device: ':{{ ansible-link__nfs_data_dir }}'
{% endif %}
