---
- name: Ensure ansible directories exist
  become: true
  file:
    group: "{{ ansible-link__deploy_group }}"
    owner: "{{ ansible-link__deploy_user }}"
    path: "{{ item }}"
    state: directory
    recurse: yes
  with_items:
    - "{{ ansible-link__deploy_dir }}"
    - "{{ ansible-link__data_dir if not ansible-link__nfs else [] }}"

- name: Copy files
  become: true
  template:
    dest: "{{ ansible-link__deploy_dir }}/ansible-link.yml"
    group: "{{ ansible-link__deploy_group }}"
    owner: "{{ ansible-link__deploy_user }}"
    src: "templates/ansible-link.yml.j2"
  when: 
    - ansible-link__state == "started"

- name: Start ansible-link
  command: docker stack deploy -c ansible-link.yml ansible-link
  args:
    chdir: "{{ ansible-link__deploy_dir }}"
  when: ansible-link__state == "started"

- name: Stop ansible-link
  command: docker stack rm ansible-link
  args:
    chdir: "{{ ansible-link__deploy_dir }}"
  when: ansible-link__state == "stopped"
